*{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.title{
  text-align: center;
}
.title h3{
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.title.onLiked h3{
  color: #ef3124;
  border-color: #ef3124;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
}

.card__item{
  width: 25%;
  margin-bottom: 20px;
}

.card__content{
  border: 3px solid gray;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  position: relative;
  margin: 0 20px;
  height: 100%;
  padding-bottom: 30px;
  transition: .5s all;
  -webkit-box-shadow: -5px 4px 16px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -5px 4px 16px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -5px 4px 16px 0px rgba(34, 60, 80, 0.2);
}
.card__liked.card__content{
  border: 3px solid #ef3124;
  -webkit-box-shadow: -5px 5px 42px 4px rgba(239, 49, 36, 0.2);
  -moz-box-shadow: -5px 5px 42px 4px rgba(239, 49, 36, 0.2);
  box-shadow: -5px 5px 42px 4px rgba(239, 49, 36, 0.2);
  color: #ef3124;
  transition: .5s all;

}

.card__img img{
  max-width: 100%;
  object-fit: cover;
}
.card__title{
  padding: 10px;
}
.card__like, .card__delete {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}
.card__like{
  left: 15px;
  bottom: 10px;
}
.card__delete{
  color: #fff;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 991px) {
  .card__item{
    width: 33%;
  }
}
@media screen and (max-width: 576px) {
  .card__item{
    width: 50%;
  }
  .card__content{
    padding-bottom: 30px;
  }
}